

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Marmelad;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #2d2d2d;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  /*margin-top: 40px;*/
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 160px;
  width: 100%;
  height: 400px;

  background-color: #efefef;
}

.hide {
  display: none;
}

.prompt-container {
  margin: 0px;
}

.prompt {
  color: #2d2d2d;
  margin: 0px;
  font-size: 28pt;
}

.option-pannel {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

.options {
  width: 150px;
  height: 50px;

  border: none;
  border-radius: 0px;
  background-color: #2F9A4A;

  text-align: center;
  font-family: Marmelad;
  font-weight: bold;
  font-size: 16pt;
  color: #2d2d2d;
}

.optionBoth {
  justify-content: space-between;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  width: 60px;
  height: 60px;

  border: none;
  border-radius: 30px;
  background-color: #39BA59;

  text-align: center;
  font-family: Marmelad;
  font-weight: bold;
  color: #2d2d2d;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
